body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.item-row{
    display: flex;
    justify-content: space-evenly;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-font{
    color: orange;
}
a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    background:linear-gradient(230deg, lightsalmon, tomato) ;
    padding: 10px 40px;
    border-radius: 5px;
}
.sec-one{
    background: url(top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 40%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.sec-two{
    background: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.sec-three{
    background: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 0;
}
.exp-left{
    height: 400px;
    box-shadow: 4px 7px 40px grey;
    border-left: 7px solid tomato;
}

.exp-right{
    height: 400px;
    box-shadow: 4px 7px 40px grey;
    border-left: 7px solid blue;
}

footer{
    margin-top: 0;
    text-align: center;
    color: rgb(113, 113, 113);
}
